@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Next1 cshtml Page</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<a href="Next2">click me to access Next2 cshtml</a>
<a href="new2.html">click me to access new2 html</a>
<a href="new1.html">click me to access new1 html</a>
<p>Use this page to detail your Next Page.</p>
