@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Created Next2 cshtml Page</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<a href="new2.html">go to new2 html</a>
<a href="Next1">go to Next cshtml</a>
<a href="new1.html">go to new html</a>
<p>Do something.</p>
